.Functional {
  background-color: red;
  display: flex;
  max-width: 250px;
  justify-content: space-between;
  padding: .2rem .5rem;
  color: blue;
  & .item_text {
    color: blueviolet;
    font-size: 20px;
  }
  & .strike {
    text-decoration: line-through;
  }

  & button {
    display: inline-block;
    margin: 0rem .4rem;
  }
} 